<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tubetrue01.usercenter.mapper.RoleInfoMapper">

    <select id="selectAll" resultType="roleInfo">
        SELECT id, role_name
        FROM role_info
    </select>
</mapper>
